services:
  server:
    build: ./server
    ports:
      - "5000:5000"
    environment:
      PORT: ${PORT}
      NODE_ENV: ${NODE_ENV}
      MONGO_URI: ${MONGO_URI}
      ACCESS_TOKEN_SECRET: ${ACCESS_TOKEN_SECRET}
      REFRESH_TOKEN_SECRET: ${REFRESH_TOKEN_SECRET}
      BASE_URL: ${BASE_URL}
      CLIENT_URL: ${CLIENT_URL}